<section class="header">
  <table>
    <tr>
      <th>介绍</th>
      <th>操作</th>
    </tr>
    <tr>
      <td>添加节点</td>
      <td>
        <button type="button" (click)="addNode()">添加节点</button>
      </td>
    </tr>
    <tr>
      <td>性能测试(HTML)</td>
      <td>
        <button type="button" (click)="addBatchComponent(10)">添加10个组件</button>
        <button type="button" (click)="addBatchComponent(30)">添加30个组件</button>
        <button type="button" (click)="addBatchComponent(50)">添加50个组件</button>
      </td>
    </tr>
  </table>
</section>

<div class="graph-container">
  <div id="container" #container></div>
</div>
