<section class="header">
  <table>
    <tr>
      <th>介绍</th>
      <th>操作</th>
    </tr>
    <tr>
      <td>增加节点</td>
      <td>
        <button type="button" (click)="addNode()">增加 HTML 节点</button>
      </td>
    </tr>
    <tr>
      <td>批量操作(HTML)</td>
      <td>
        <button type="button" (click)="addBatch(50)">增加50个节点</button>
        <button type="button" (click)="removeBatch(50)">减少50个节点</button>
        <span class="count">节点总数: {{ idCount }}</span>
      </td>
    </tr>
  </table>
</section>

<div class="graph-container">
  <div id="container" #container></div>
</div>
