<section class="header">
  <table>
    <tr>
      <th>介绍</th>
      <th>操作</th>
    </tr>
    <tr>
      <td>初始化注册</td>
      <td>
        <button type="button" (click)="doRegisterComponent()">注册Angular Component</button>
        <button type="button" (click)="doRegisterTemplate()">注册Angular Template</button>
      </td>
    </tr>
    <tr>
      <td>添加Angular组件</td>
      <td>
        <button type="button" (click)="addComponent()">添加Angular Component</button>
        <button type="button" (click)="addTemplate()">添加Angular Template</button>
      </td>
    </tr>
    <tr>
      <td>修改Angular组件的Input数据</td>
      <td>
        <input type="text" #id placeholder="查找的节点序号">
        <input type="text" #text placeholder="替换的新内容">
        <br>
        <button type="button" (click)="updateComponentValue(id.value, text.value)">更新组件Input值</button>
      </td>
    </tr>
  </table>
</section>
<div id="container" #container></div>

<ng-template #template let-data="ngInput">
  <section class="template-container">
    template: <span class="value">{{ data.value }}</span>
  </section>
</ng-template>
