<section class="header">
  <table>
    <tr>
      <th>介绍</th>
      <th>操作</th>
    </tr>
    <tr>
      <td>增加节点</td>
      <td>
        <button type="button" (click)="addNode('component')">增加 Component 节点</button>
        <button type="button" (click)="addNode('template')">增加 Template 节点</button>
        <button type="button" (click)="addNode('html')">增加 HTML 节点</button>
      </td>
    </tr>
    <tr>
      <td>更新节点</td>
      <td>
        <input type="text" #id placeholder="查找的节点序号">
        <input type="text" #text placeholder="替换的新内容">
        <button type="button" (click)="updateNodeValue(id.value, text.value)">更新组件Input值</button>
      </td>
    </tr>
    <tr>
      <td>批量操作(Component)</td>
      <td>
        <button type="button" (click)="addBatchNode(50, 'component')">增加50个节点</button>
        <button type="button" (click)="removeBatchNode(50, 'component')">减少50个节点</button>
        <span class="count">节点总数: {{ nodeCountMap.get('component') }}</span>
      </td>
    </tr>
    <tr>
      <td>批量操作(Template)</td>
      <td>
        <button type="button" (click)="addBatchNode(50, 'template')">增加50个节点</button>
        <button type="button" (click)="removeBatchNode(50, 'template')">减少50个节点</button>
        <span class="count">节点总数: {{ nodeCountMap.get('template') }}</span>
      </td>
    </tr>
    <tr>
      <td>批量操作(HTML)</td>
      <td>
        <button type="button" (click)="addBatchNode(50, 'html')">增加50个节点</button>
        <button type="button" (click)="removeBatchNode(50, 'html')">减少50个节点</button>
        <span class="count">节点总数: {{ nodeCountMap.get('html') }}</span>
      </td>
    </tr>
  </table>
</section>

<div class="graph-container">
  <div id="container" #container></div>
</div>

<ng-template #template let-data="ngArguments">
  <section class="template-container">
    template: <span class="value">{{ data.value }}</span>
  </section>
</ng-template>
